@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-size: 6px;
  --left-menu-width: 292px;
  --left-menu-rail-width: 6.8rem;
  --topbar-height: 6.8rem;
  font-size: 0.875rem;
}

body,
aside,
section,
header,
footer {
  background-color: var(--color-bg-primary);
}

img {
  max-width: unset;
}

.bottom-shadow {
  position: relative;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.bottom-shadow::after {
  content: " ";
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  height: 12px;
  background-image: linear-gradient(to bottom, #dadde6, rgba(218, 221, 230, 0));
  opacity: 0.2;
}

.top-shadow {
}
.top-shadow:after {
  content: " ";
  width: 100%;
  height: 7.5px;
  position: absolute;
  top: -7.5px;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-image: linear-gradient(to top, #DADDE6, rgba(218, 221, 230, 0));;
  opacity: 0.3;
}

.dark .bottom-shadow::after {
  background-image: linear-gradient(to bottom, #111415, rgba(17, 20, 21, 0));
}

.btn {
  border: none;
  &:hover {
    opacity: 0.8;
    transform: scale(0.99);
  }
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font: inherit; */
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block
}

body {
  line-height: 1
}

ol,ul {
  list-style: none
}

blockquote,q {
  quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html,body {
  height: 100%
}

input {
  outline: none;
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
  -webkit-transition: color 9999999s 9999999s,background-color 9999999s 9999999s;
  transition: color 9999999s 9999999s,background-color 9999999s 9999999s
}

/* 隐藏input number右侧按钮 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

a {
  color: inherit;
}
a:hover,
a:active {
  color: inherit;
}
img {
  width: 100%;
  height: 100%;
}
.theme-default {
  --color-bg-primary: #F6F7FA;
  --color-primary: #3BC117;
  --color-yellow: #FFBF39;
  --color-body-bg: #fff;
  --15xysm6: #F0F1F5;
  --1q81als: #EAECF3;
  --1h443ei: #fff;
  --whdmoy: #31373d;
  --mk9uba: #F6F7FA;
  --bv38jy: #eaecf3;
  --5l1a8f: #5F6975;
  --1by3zu8: #BEC1CC;
  --1nfs066: #9FA5AC;
  --12v585s: #ffffff;
  --a56fau: #31373D;
  --6596nj: #F6F7FA;
}

.theme-default.dark {
  --color-bg-primary: #24262B;
  --color-standard: #1C1E22;
  --color-shadow: #111415;
  --color-text: #98A7B5;
  --color-title: #ffffff;
  --color-sub-text: #656E78;
  --15xysm6: rgba(0,0,0,.2);
  --1q81als: #1E2024;
  --1h443ei: #2D3035;
  --whdmoy: #31373d;
  --mk9uba: rgba(49,52,60,.6);
  --bv38jy: #2d3036;
  --5l1a8f: #98A7B5;
  --1by3zu8: #4D565E;
  --1nfs066: #67707B;
  --12v585s: #1C1E22;
  --a56fau: #D4D9E6;
  --6596nj: #24262B;

}

.s-conic {
  color: #fff !important;
  background-color: #1d803ab3 !important;
  background-image: conic-gradient(from 1turn,rgba(88,175,16,1),rgba(29,128,58,1)) !important;
}

.s-conic:hover {
  background-image: conic-gradient(from 1turn,rgba(88,175,16,.7),rgba(29,128,58,.7));
}

.max-page-container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar {
      width:var(--scrollbar-size);
      height: var(--scrollbar-size)
  }

  ::-webkit-scrollbar-track {
      border-radius: var(--scrollbar-size);
      background-color: #f1f1f1
  }

  ::-webkit-scrollbar-thumb {
      border-radius: var(--scrollbar-size);
      background: rgba(105,105,105,.3215686275)
  }
}

.theme-default.dark :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table,
.theme-default.dark :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>td,
.theme-default.dark :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-thead >tr>td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
.theme-default.dark :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody >tr >th, :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody >tr >td,
.theme-default.dark :where(.css-dev-only-do-not-override-1ae8k9u).ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  background-color: transparent;
  border-bottom: transparent;
  color: inherit;
}

div[aria-checked='false'] .anticon-star {
  color: #67707b;
}

/* :where(.css-dev-only-do-not-override-1ae8k9u).ant-rate .ant-rate-star {
} */
