

.ant-modal{
    padding:0 !important;
}
.ant-modal-content{
    background:none !important;
    padding:0 !important;
}

.m-0-svg-button >svg{
    margin:0 !important;
}
.hw-100-button-svg{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    /* width:100%;
    height:100%; */
}
.hw-100-button-svg svg{
    width:100%;
    height:100%;
}

.profile-button{
    justify-content: start !important;
}
.profile-button>svg{
    margin-right:0.625rem;
}